<h1>
</h1>
<br>
<br>
<center>
<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<p>
 <strong>Type:</strong>
  <%= @item.type.title %>
</p>

<%= button_to 'Back', :back %>
<br>
<br>

<%= button_to "Go Home", items_path, :method => "get" %>

</center>